.contactContainer {
    margin: 0 auto;
    max-width: 985px;
    padding: 3rem 18px 0;
    width: 100%;
}

.contactContent {
    font-family: var(--primaryFont);
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
}

.contactTitle {
    font-family: var(--primaryFont);
    color: #64748B;
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: 32px;
    text-align: center;
}

.contactContent p {
    font-size: 16px;
    color: #334155;
    margin-bottom: 20px;
}

.contactContent h2 {
    font-size: 20px;
    color: #334155;
    font-weight: 600;
    margin-bottom: 5px;
}

.contactContent .inTouchText {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 30px;
   text-align: center;
}

.contactMethods {
   margin-left: auto;
   margin-right: auto;
}

.contactMethods>div {
   text-align: center;
}

.contactContent a {
   cursor: pointer;
}

@media (min-width: 601px) {
   .contactContainer {
       padding-left: 24px;
       padding-right: 24px;
   }
}

@media (min-width: 1200px) {
   .contactContainer {
       padding-top: 6rem;
   }

   .contactTitle {
       padding-top: 50px;
   }
}